@use '../variables';

.content-area {
  flex-grow: 1; /* 使内容区域占据剩余空间 */
  border: 1px solid #ccc;
  height: calc(100vh - var(--navbar-height));/* 减去navbar的高度 */
  width: 100%;
  overflow: hidden;
  overflow-y: auto; /* 添加垂直滚动条 */
}

.file-panel {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - var(--navbar-height));
  transition: none;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 32px;
}

.button-group .el-button {
  width: 20px;
  margin-left: 0 !important;
}

.list-toolbar {
  display: flex;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 4px !important; /* 设置底部间距 */
  width: 100%;

  .el-button {
    margin-left: 3px;
  }
}

/* 文件项相关样式 */
.file-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--filePanelText);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &:hover {
    background-color: var(--filePanelHover);
  }

  &.active {
    background-color: var(--filePanelActive);
    border-right: 3px solid var(--primary-color);
  }
}

.file-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文件内容相关样式 */
.file-content {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}